
.slider{
    width: 850px;
    height: 400px;
    position: relative;
    margin: 0 auto; 
    overflow: hidden;
}

.slider img{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: ease-in-out;
}
 .slider .active{
   opacity: 1;
   transform: translate(100%, 0);
   transition: all 1s;
}

.icons i{
position: absolute;
top: 50%;
z-index: 1;
padding: 5px ;
background-color: rgb(3, 51, 3);
color: white;
cursor: pointer;
}
.icons i:nth-child(1){
  right: 10px;
}
.icons i:nth-child(1){
  right: 10px;  
}